/* Meine Stylesheetdatei */
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


article > figure > img {   
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    min-width: 50px;
}

html {
    font-size: 100%; /* Entspricht somit 16px */
    height: 101%;
}

h1 { font-size: 2rem; font-family: 'Lobster';}
h2 { font-size: 1.9rem; font-family: 'Lobster';}
h3 { font-size: 1.8rem; font-family: 'Lobster';}
h4 { font-size: 1.7rem; font-family: 'Lobster';}
h5 { font-size: 1.6rem; font-family: 'Lobster';}
h6 { font-size: 1.5rem; font-family: 'Lobster';}
p { font-size: 1rem; font-family: 'Lobster';}
a { font-size: 1.1rem; font-family: 'Lobster';}

#wrapper {  
    max-width: 75%;
    margin: 30px auto;
}

figure {    
    margin:  30px 500px;
}

footer {
    background: yellowgreen;
}

section {
    background: gainsboro;
}
